/* * ------------------------------ */
/* * CUSTOM PROPERTIES              */
/* * ------------------------------ */


/* // 
// stored the colors as HSL values to be able to manipulat the
// alpha as needed 
// */
:root {
    --clr-dark: 230 35% 7%;
    --clr-light: 231 77% 90%;
    --clr-white: 0 0% 100%;
}


/* * ------------------------------ */
/* * RESET                          */
/* * ------------------------------ */

/* // 
// Andy Bells modern CSS Reset 
// https://piccalil.li/blog/a-modern-css-reset/ 
// */


/* // BOX SIZING */
 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

/* // Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

/* // set up body  */
body {
    line-height: 1.5;
    min-height: 100vh;
}


/* // make images easier to work with */
img, 
picture {
    max-width: 100%;
    display: block;
}

/* // make forms elemetns easier to work with */
input,
button,
textarea,
select {
    font: inherit
}


/* // remove animation for people who've turned them off */
/* // adds animations in only if somobody is allowing them */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* * ------------------------------ */
/* * UTILITIES CLASSES              */
/* * ------------------------------ */


/* * GENERAL */
.flex {
    display: flex;
    gap: var(--gap, 1rem);    
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);        
}

.container {
    padding: 0 2em;
    max-width: 80rem;
    margin: 0 auto;
}

/* // SCREEN READER ONLY */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.box {
    background-color: lightblue;
    padding: 3rem;
}

/* * COLORS */

.bg-dark {
    background-color: hsl(var(--clr-dark));
}

.bg-light {
    background-color: hsl(var(--clr-light));
}

.bg-white {
    background-color: hsl(var(--clr-white));
}


.text-dark {
    color: hsl(var(--clr-dark));
}

.text-light {
    color: hsl(var(--clr-light));
}

.text-white {
    color: hsl(var(--clr-white));
}

#colors div.flex div {
    width: 90%;
    margin-bottom: 1rem;
}

.example-component {
    background-color: hsl( var(--clr-light) / .2 );
}

.example-component-text {
    color: hsl( var(--clr-light) / .2 );
}